div{
    height: 300px;
    width: 300px;
    border: 10px dotted red;
    background-color: chartreuse;
    flex: content;
    justify-content: center;
    border-radius: 20px;
    animation-name: single;
    animation-duration: 5s;
}

@keyframes single{
    from{ border: 10px dotted red;
        background-color: chartreuse;
        border-radius: 20px;

    }
    to{
        border: 10px double yellow;
        background-color: crimson;
        border-radius: 40px;
    }
}