.navigation{
    position: relative;
}
img{
    border-radius: 1000px;
}
 .nav li {
    float: left;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    /* float: left;
    text-decoration: none; */
    /* display: flex; */
}