#demo{
    font-size: "500px";
    color: black;
}
.demo2{
    width: "150px";
    height: "200px";
}
#sample{
    position: relative;
}
.test3{
  position:relative;
}
#sin{
    color: black;
    font-size: 100px;
}
#clas{
    font: size 200px;;
}
#an{
    font-size: 500px
}
#aa1{
    margin-right: 100px;
}