div{
    height: 300px;
    width: 300px;
    border: 10px dotted red;
    background-color: chartreuse;
    flex: content;
    justify-content: center;
    border-radius: 20px;
    animation-name: single;
    animation-duration: 5s;
    animation-iteration-count: 4;   
    /* no of iteration of animation */
    animation-direction: alternate-reverse;
    /* alternate-first forward and backward */
 /* alternate reverse-first backward and forward */
}

@keyframes single{
    0%{
        transform: translatex(0);
    }
    25%{
        transform: translateY(50%);
    }
    50%{
        transform: translatex(100%) translateY(100%);
    }
    75%{
        transform: translatex(100%);
    }
    100%{
        transform: translatex(0);
    }
}