h1{ color: blue;
    background-color: brown;
}
h3{
    font-size: 20px;
    background-color: blue;
    /* background-image: -moz-element(); */
}
table{
    color: aqua;
    background-color: blue;
}